.main_layout {
  height: 100%;
  text-align: center;
}

.main_layout .ant-layout-header{
  background:transparent !important;
}

.main_layout .ant-layout .ant-layout-content {
  width: 100%;
  height: 100% !important;
}