.header_main_container {
  height: 80px;
}

.header_main_container .header_container {
  height: 100%;
  width: min(100% - 5%,100%);
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}


.header_main_container .header_container .search_box{
  width: 30%;
}
.header_main_container .header_container .menu_box .ant-menu >*{
}
