.header_main_container {
  height: 70px;
  width: 100%;
}

.header_main_container .header_inner_container {
  height: 100%;
  width: min(100% - 5%,100%);
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.header_main_container .header_inner_container .left_side {
  /* width: 10%; */
}

.header_main_container .header_inner_container .center {
  /* width: auto; */
}

.header_main_container .header_inner_container .right_side {
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}