.header_main_container {
  height: 70px;
}

.header_main_container .header_inner_container {
  height: 100%;
  width: min(100% - 5%,100%);
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.header_main_container .header_inner_container .left_side {
  width: 10%;
}

.header_main_container .header_inner_container .center {
  width: 30%;
}

.header_main_container .header_inner_container .right_side {
  width: 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}