.profile_main_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_main_container .profile_inner_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_main_container .profile_inner_container .profile .user_details{
  position: relative;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.profile_main_container .profile_inner_container .profile .profile_img {
  border: 1px solid lightgray;
  border-radius: 50%;
  padding: 10px;
  margin-right: 20px;
}

.profile_main_container .profile_inner_container .profile .user_details .details {
  font-weight: 550;
  font-size: 20px;
  line-height: 10px;
}

.profile_main_container .profile_inner_container .profile .user_details .actions {
  position: absolute;
  right: 0;
}